.header_title {
  /* max-width: 100vw; */
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5vw;
  line-height: 1;
  font-weight: 500;
}

@media screen and (max-width: 991px){
  .header_title {
      max-width: 85vw;
      font-size: 9vw;
  }
}
@media screen and (max-width: 479px){
  .header_title {
      line-height: 1.1;
  }
}